__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.dist/
.build/
.pytest_cache/
.coverage
.mypy_cache/
.idea/
.vscode/

mongo_setup.js
install/mongo_setup.js

.venv/
.env
install/.env

# Logs
*.log
log/
logs/
var/log/

# Project-specific
_XLAM/

# Storage: keep only gitkeep
storage/*
!storage/.gitkeep

celerybeat-schedule
