fastapi==0.115.5
uvicorn[standard]
jinja2==3.1.4
asyncpg==0.29.0
python-multipart==0.0.12
passlib[bcrypt]==1.7.4
itsdangerous==2.2.0
python-dotenv==1.0.1
psycopg[binary]==3.2.3
bcrypt==3.2.2
zxcvbn
httpx
bson
pydantic-settings>=2.0.0
motor
celery >= 5.4.0
kombu >= 5.3.6
billiard >= 4.2.1
vine >= 5.1.0
redis >= 5.0.1
packaging >= 24.2
setuptools >= 70.0.0
aiofiles
grpcio==1.66.1
grpcio-tools==1.66.1
grpcio-health-checking
grpcio-reflection
Pillow>=10.0.0
Babel>=2.12