{% extends "base.html" %}
{% block content %}
<h1>Latest videos</h1>
<div class="video-grid">
  {% for v in videos %}
  <div class="video-card">
    <a class="thumb-link" href="/watch?v={{ v['video_id'] }}">
      <img src="{{ v['thumb_url'] }}" alt="{{ v['title'] }}">
    </a>
    <div class="meta">
      <div class="title"><a href="/watch?v={{ v['video_id'] }}">{{ v['title'] }}</a></div>
      <div class="author author-line">
        <img class="mini-avatar"
             src="{{ v.get('author_avatar_url_small', '/static/img/avatar_default.svg') }}"
             alt="avatar"
             onerror="this.onerror=null;this.src='/static/img/avatar_default.svg';">
        {% if v.get('username') %}
          <span><a href="/@{{ v['username'] }}">@{{ v['username'] }}</a></span>
        {% else %}
          <span><a href="/c/{{ v['channel_id'] }}">{{ v['channel_id'] }}</a></span>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}