<div id="comments-root"
     data-video-id="{{ video['video_id'] if video else '' }}"
     data-current-uid="{{ (current_user['user_uid'] if current_user else '') }}"
     data-max-len="1000"
     class="comments-root">

  {% set _authp = request.cookies.get('yt_authp') if request else None %}
  {% set _sso_pic = request.cookies.get('yt_gpic') if request else None %}
  {% set _avatar_src = None %}
  {% if current_user %}
    {% set _avatar_rel = 'users/' ~ current_user['user_uid'] ~ '/avatar_small.png' %}
    {% if storage_public_base_url %}
      {% set _avatar_src = storage_public_base_url ~ '/' ~ _avatar_rel %}
    {% else %}
      {% set _avatar_src = '/storage/' ~ _avatar_rel %}
    {% endif %}
    {% if _authp and _authp != 'local' and _sso_pic %}
      {% set _avatar_src = _sso_pic %}
    {% endif %}
  {% endif %}
  {% if not _avatar_src %}
    {% set _avatar_src = '/static/img/avatar_default.svg' %}
  {% endif %}

  <div class="comment-composer" id="comment-composer">
    <img class="composer-avatar"
         src="{{ _avatar_src }}"
         alt="me"
         onerror="this.onerror=null;this.src='/static/img/avatar_default.svg';">
    <div class="composer-main">
      <textarea id="comment-textarea"
                class="composer-textarea"
                rows="2"
                maxlength="1000"
                placeholder="Add a comment..."></textarea>
      <div class="composer-actions" id="composer-actions" hidden>
        <button id="comment-cancel" type="button" class="btn-secondary">Cancel</button>
        <button id="comment-post"   type="button" class="btn-primary" disabled>Comment</button>
      </div>
    </div>
  </div>

  <div class="comments-head-row">
    <div class="comments-title-wrap">
      <h3 class="comments-title">Comments</h3>
      <div id="comments-count" class="comments-count" hidden></div>
    </div>
  </div>

  <div id="comments-list" class="comments-list">
    <div class="comments-empty">No comments..</div>
  </div>
</div>

<link rel="stylesheet" href="/static/css/comments/comments.css">